@page "/AddProduct"
@inject IProductService _service
<h1>Добавление продукта</h1>

<EditForm Model="@_product" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <div class="form-group">
        <label for="IdProduct">Айди:</label>
        <InputNumber id="IdProduct" class="form-control" @bind-Value="@_product.Id" />
        <ValidationMessage For="@(() => _product.Id)" />
    </div>

    <div class="form-group">
        <label for="name">Название:</label>
        <InputText id="name" class="form-control" @bind-Value="@_product.Title" />
        <ValidationMessage For="@(() => _product.Title)" />
    </div>

    <div class="form-group">
        <label for="description">Описание:</label>
        <InputTextArea id="description" class="form-control" @bind-Value="@_product.Description" />
        <ValidationMessage For="@(() => _product.Description)" />
    </div>

    <div class="form-group">
        <label for="CategoryId">Категория:</label>
        <InputNumber id="CategoryId" class="form-control" @bind-Value="@_product.CategoryId" />
        <ValidationMessage For="@(() => _product.CategoryId)" />
    </div>

    <button type="submit" class="btn btn-primary" @onclick="@HandleValidSubmit">Добавить</button>
</EditForm>

@code {
    private Product _product = new();
    private void HandleValidSubmit()
    {
        _service.AddProduct(_product);
    }
}