@page "/cart"
@inject ICartService CartService

@if (!orderPlaced)
{
    <h3>Корзина</h3>
    @if (cartItems is not {Count: > 0 })
    {
        <span>нихуя нет</span>
    }
    else
    {
        <div>
            @foreach (var item in cartItems)
            {
                <div class="item-container">
                    <div class="item-image-wrapper"><img src="@item.Image" class="item-image" /></div>
                    <div class="item-name">
                        <h5><a href="/product/@item.ProductId">@item.ProductTitle</a></h5>
                        <span>@item.EditionName</span><br />
                        <button class="btn-delete" @onclick="@(() => DeleteItem(item))">Удалить</button>
                        <EditForm Model="item">
                            <InputNumber id="quantity" @bind-Value="item.Quantity"
                                         class="form-control" style="width: 70px" />
                        </EditForm>
                    </div>
                    <div class="item-price">@(item.Price * item.Quantity) руб.</div>
                </div>
            }
            <div class="item-price">
                Итог (@cartItems.Count): @cartItems.Sum(item => item.Price * item.Quantity) руб.
            </div>
            <div style="text-align: center; margin-top: 10px;">
                <button class="btn btn-primary btn-lg" @onclick="PlaceOrder">Заказать</button>
            </div>
        </div>
    }
}
else
{
    <h3>Спасибо за покупку!</h3>
    <h4>Ваши товары:</h4>
    <div>
        @foreach (var item in cartItems)
        {
            <div class="item-container">
                <div class="item-image-wrapper"><img src="@item.Image" class="item-image" /></div>
                <div class="item-name">
                    <h5><a href="/product/@item.ProductId">@item.ProductTitle</a></h5>
                    <span>@item.EditionName</span><br />
                </div>
                <div class="item-price">$@(item.Price * item.Quantity)</div>
            </div>
        }
        <div class="item-price">
            Итог (@cartItems.Count): @cartItems.Sum(item => item.Price * item.Quantity) руб.
        </div>
    </div>
}

@code {
    List<CartItem> cartItems = new();
    bool orderPlaced;

    protected override async Task OnInitializedAsync()
    {
        cartItems = await CartService.GetCartItems();
    }

    private async Task DeleteItem(CartItem item)
    {
        await CartService.DeleteItem(item);
        cartItems = await CartService.GetCartItems();
    }

    private async Task PlaceOrder()
    {
        orderPlaced = true;
        await CartService.EmptyCart();
    }
}
